
@{
    ViewData["Title"] = "Home";
}

<h1><center>Home</center></h1>
<h3><marquee>Welcome to our Home Page</marquee></h3>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMt1jF3mUcrZxrqvX8c7ROYq8121Q7j7ttUA&usqp=CAU"  height="500" width="500"/>